body
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: green;
}
nav
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
h1
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
h2
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
h3
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
h4
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
p
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
ul
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
li
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
img
{
    max-width: 300px;
    max-height: 300px;
    width: 300px;
    height: 300px;
}
iframe
{
    max-width: 500px;
    max-height: 315px;
    width: 500px;
    height: 315px;
}
.rotate180
{
    transform: rotate(180deg);
}
.rotate90
{
    transform: rotate(90deg);
}
